---
---
<div class="magnetic-wrap animate" id="theme-wrap">
  <button class="theme-toggle-btn" id="themeToggle" aria-label="Toggle Theme">
    <div class="theme-toggle-inner">
      <div class="theme-dot"></div>
      <span data-t="lights">Lights off/on</span>
    </div>
  </button>
</div>
